[submodule "sabre-api"]
	path = sabre-api
	url = https://github.com/rubenvitt/sabre-api

[submodule "radicale-api"]
	path = radicale-api
	url = https://github.com/rubenvitt/radicale-api
	branch = main
